<body class="HtmlBody">
  <!-- Header image -->
  <div class="header-image"></div>

  <!-- Password box -->
  <div class="container d-flex h-100 flex-column passwordBox rounded">

    <!-- Title bar -->
    <div class="row h-10 rounded-top titleBar">

      <!-- Left -->
      <div class="LeftWing" style="background-color: #65C8DF">
      </div>

      <!-- Login title -->
      <div class="justify-content-center align-items-center MiddleWing" style="background-color: #65C8DF">
        <h1>Login</h1>
      </div>

      <!-- Right -->
      <div class="RightWing" style="background-color: #65C8DF">
        <mat-form-field class="smaller-mat-select">
          <mat-label>Language</mat-label>
          <mat-select [(value)]="lanaguageValue">
            <mat-option value="en">English</mat-option>
            <mat-option value="fr">French</mat-option>
            <mat-option value="de">German</mat-option>
            <mat-option value="es">Spanish</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Body -->
    <div class="row h-90">
      <div class="container d-flex h-100 flex-column">

        <div class="row h-33.3 mx-auto">
          <mat-form-field class="UserNameField" appearance="fill">
            <mat-label>User name</mat-label>
            <input matInput type="text" [(ngModel)]="userNameValue" />
            <button *ngIf="userNameValue" matSuffix mat-icon-button aria-label="Clear" (click)="userNameValue = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row h-33.3 mx-auto">
          <mat-form-field class="PasswordField" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="passwordValue" />
            <button *ngIf="passwordValue" matSuffix mat-icon-button aria-label="Clear" (click)="passwordValue = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="row h-33.3 mx-auto">
          <button mat-raised-button color="primary" (click)="Login()">Login</button>
        </div>

      </div>
    </div>
  </div>
</body>