<body class="HtmlBody">
  <!-- Header image -->
  <div class="header-image"></div>

  <!-- Password box -->
  <div class="container d-flex h-100 flex-column passwordBox rounded">

    <!-- Title bar -->
    <div class="row h-10 rounded-top titleBar">

      <!-- Left -->
      <div class="LeftWing">
      </div>

      <!-- Login title -->
      <div class="justify-content-center align-items-center MiddleWing">
        <h1 class="white-text">{{'LoginTitle' | translate}}</h1>
      </div>

      <!-- Right -->
      <div class="justify-content-center align-items-center RightWing">
          <select [(ngModel)]="languageValue" (ngModelChange)="onLanguageChange($event)">
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="es">Spanish</option>
          </select>
      </div>
    </div>

    <!-- Body -->
    <div class="row h-90">
      <div class="container d-flex h-100 flex-column">

        <div class="row h-33.3 mx-auto input-group userNameInput">
            <input class="form-control" type="search" placeholder="{{'UserCaption' | translate}}" [(ngModel)]="userNameValue" />
        </div>

        <div class="row h-33.3 mx-auto input-group passwordInput">
            <input class="form-control" type="password" placeholder="{{'PasswordCaption' | translate}}" [(ngModel)]="passwordValue" />
        </div>

        <div class="row h-33.3 mx-auto loginButton">
          <button (click)="Login()">{{'Login' | translate}}</button>
        </div>

        <div class="row h-33.3 mx-auto signUpButton">
          <button (click)="SignUp()">{{'SignUp' | translate}}</button>
        </div>

      </div>
    </div>
  </div>
</body>